.dialogs {
        display: grid;
        grid-template-columns: 2fr 10fr;


        /*grid-area: d;*/
    }

.dialitems a{
    padding: 10px;
    color: white;
}

.dialitems .active{
    color: white;
}

.messages {
    padding: 10px;
    color: white;
}