.dialogs {
        display: grid;
        grid-template-columns: 2fr 10fr;


        grid-area: c;
        background-color: cornflowerblue;
    }

.dialitems a{
    padding: 10px;
    color: white;
}

.dialitems .active{
    color: white;
}

.dialog {

}

.messages {
    padding: 10px;
    color: white;
}

.message {

}