.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 10px;
}

.item {
    color: white;
}

.item a {
    text-decoration: none;
}


.active{
    color: blue;
    font-weight: 700;
}

